[init]
	defaultBranch = main
	templatedir = ~/.git_templates
[user]
	name = Harrison Cramer
	email = harrisoncramer@gmail.com
[includeIf "gitdir:~/crossbeam/"]
	path = /Users/harrisoncramer/.gitconfig-work
[core]
	excludesfile = /Users/harrisoncramer/.gitignore
[merge]
	conflictstyle = diff3
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset %an -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  reviews = "! ~/bin/git-reviews"
  authored = "! ~/bin/git-authored"
  last = "! ~/bin/git-last"
  recent = "! ~/bin/git-recent"
