[init]
	defaultBranch = main
[user]
	name = Harrison Cramer
	email = harrisoncramer@gmail.com
[includeIf "gitdir:~/chariot/"]
	path = /Users/harrisoncramer/.gitconfig-work
[includeIf "gitdir:~/chariot-backup/"]
	path = /Users/harrisoncramer/.gitconfig-work
[core]
	excludesfile = /Users/harrisoncramer/.gitignore
[merge]
	conflictstyle = diff3
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset %an -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  reviews = "! ~/bin/git-reviews"
  authored = "! ~/bin/git-authored"
  last = "! ~/bin/git-last"
  recent = "! ~/bin/git-recent"
  changed = "! ~/bin/git-changed"
  nuke = "! ~/bin/git-nuke"
  squash-unpushed = "! ~/bin/git-squash-unpushed"
  dv = "! args=$@; shift $#; /Users/harrisoncramer/.local/bin/nvim-macos/bin/nvim --cmd 'let g:no_session = v:true' -c DiffviewOpen $args"
  dv-all = "! args=$@; shift $#; /Users/harrisoncramer/.local/bin/nvim-macos/bin/nvim --cmd 'let g:no_session = v:true' -c \"DiffviewOpen @{u} HEAD^\""
  dv-unpushed = "! args=$@; shift $#; /Users/harrisoncramer/.local/bin/nvim-macos/bin/nvim --cmd 'let g:no_session = v:true' -c \"DiffviewOpen HEAD..@{u}\""
[push]
	default = simple
	autoSetupRemote = true
[credential]
	helper = store
[url "git@github.com:"]
	insteadOf = https://github.com/
