# Global GitIgnore
.DS_Store
.vscode
babashka
node_modules
nul
todo.md
.sessions
.qf
notes.md
.nrepl-port
.clj-kondo
.lsp
vent.md
scratch
.gitlab.nvim
test_templates
.gp.md
.aider.chat.*
.aider.input.*
.aider.tags.*
scratch/
playground/
compliance/seed/
db_queries/
Taskfile.yml
# .pg_format
local_only
postgrestools.jsonc
