[init]
	defaultBranch = main
	templatedir = ~/.git_templates
[user]
	signingkey = BF1DB43909C984DA
	name = Harry Cramer
	email = harrisonc@givechariot.com
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[core]
	excludesfile = /Users/harrisoncramer/.gitignore
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset %an -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  last = "! git-last"
  recent = "! git-recent"
  changed = "! git-changed"
  dv = "! args=$@; shift $#; nvim --cmd 'let g:no_session = v:true' -c DiffviewOpen $args"
  dv-all = "! args=$@; shift $#; nvim --cmd 'let g:no_session = v:true' -c \"DiffviewOpen @{u} HEAD^\""
  dv-unpushed = "! args=$@; shift $#; nvim --cmd 'let g:no_session = v:true' -c \"DiffviewOpen HEAD..@{u}\""
[diff]
    colorMoved = default
[push]
	default = simple
	autoSetupRemote = true
[url "git@github.com:"]
	insteadOf = https://github.com/
