<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.harrisoncramer.luncher</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/harrisoncramer/bin/luncher</string>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/luncher.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/luncher.error.log</string>
    <key>StartCalendarInterval</key>
    <array>
      <!-- 10:30 AM -->
      <dict>
          <key>Hour</key>
          <integer>10</integer>
          <key>Minute</key>
          <integer>30</integer>
      </dict>
      <!-- 12:00 PM -->
      <dict>
          <key>Hour</key>
          <integer>12</integer>
          <key>Minute</key>
          <integer>00</integer>
      </dict>
      <!-- 2:00 PM -->
      <dict>
          <key>Hour</key>
          <integer>14</integer>
          <key>Minute</key>
          <integer>00</integer>
      </dict>
      <!-- 3:30 PM -->
      <dict>
          <key>Hour</key>
          <integer>15</integer>
          <key>Minute</key>
          <integer>30</integer>
      </dict>
      <!-- 5:00 PM -->
      <dict>
          <key>Hour</key>
          <integer>17</integer>
          <key>Minute</key>
          <integer>00</integer>
      </dict>
      <dict>
        <key>Hour</key>
        <integer>0</integer>
        <key>Minute</key>
        <integer>00</integer>
      </dict>
    </array>
</dict>
</plist>

